* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $text-font-stack;
}

//basic style for links

li {
  display: list-item;
  list-style: none;
}

li::marker {
  color: black;
}

a {
  color: $brand-color;
  text-decoration: none !important;
}

.loader {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
