.show {
  display: block !important;
}

.menu {
  display: none;

  .flex-column {
    margin-top: 14vh;
    padding: 2% 6% 2% 6%;
    position: sticky;
    overflow-y: auto;
    flex-shrink: 0;
    left: 0%;
    z-index: 2;
    width: 100%;
    top: 0%;
    min-height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      width: 100%;

      li {
        width: 100%;
        padding: 2%;
        margin-bottom: 1px;
        background: rgb(233, 233, 233);
        text-align: left;
        font-size: 16px;
      }
    }
  }
}
